
body {
 	font-weight: 300;
}

article table {
	font-size: 0.95em !important;
	border-radius: .3rem !important;
}

article table th {
	text-transform: capitalize !important;
	padding: 4px 18px !important;
    background-color: #5c5f70;
    font-weight: 500;	
	white-space: nowrap;
}

article table th strong {
	color: white;
	font-weight: 500;
}

article table th.filename {
   background-color: var(--md-code-bg-color);
}

article .admonition {
	font-size: 0.95em !important;
}

.md-grid {
	/* allow use of max available space in the center area */
    max-width: 100%;
}

.md-typeset__table {
  width: 100%;
}

.md-typeset__table table:not([class]) {
  display: table
}