
body {
 	font-weight: 300;
}

article table {
	font-size: 0.95em !important;
	border-radius: 10px !important;
}

article table th {
	/* text-transform: uppercase; */
	padding: 0.4rem 0.8rem !important;
	background-color: var(--md-primary-fg-color) !important;
	white-space: nowrap;
}

article table th strong {
	color: white;
	font-weight: 500;
}

article table th.filename {
   background-color: var(--md-code-bg-color);
}

article .admonition {
	font-size: 0.95em !important;
}

.md-grid {
	/* allow use of max available space in the center area */
    max-width: 100%;
}