article table {
	font-size: 0.95em !important;
}

article table th {
	/* text-transform: uppercase; */
	padding: 0.4rem 0.8rem !important;
	background-color: #3f51b5 !important;
	white-space: nowrap;
}

article .admonition {
	font-size: 0.95em !important;
}
